/* Header */

.header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.ul1 {
    display: flex;
    align-items: center;
}

li {
    margin-left: 20px;
} 

.a1 {
    color: #3D37F1;
}
/* first section */

.left-block {
    width: 500px;
}

.h2 {
    font-weight: bold;
    font-size: 35px;
    width: 300px;
}

.p1 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.right-block {
    width: 500px;
}

.img2 {
    width: 400px;
}
.div-radius {
    width: 150px;
    height: 40px;
    background-color: #3D37F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: hidden;
    border-radius: 20px;
}
.p2 {
    color: #FFFFFF;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

/* section 2 */


.sec2 {
    margin-top: 200px;
}


.sec2-h3 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 15px;
  
}
.sec2-p1 {
   width: 450px;
   text-align: center;
} 
.text-div {
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #6f00ff;
    margin-bottom: 70px;
}
.div1 {
    background-color: #6f00ff;
    max-width: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
 
}
.img4 {
    max-width: 150px;
    width: 100%;
}

.div1-h2 {
    font-size: 22px;
    width: 106px;
    margin-top: 80px;
    margin-bottom: 20px;
    color: #FFFFFF;
}
.div1-p1 {
    width: 300px;
    color: #FFFFFF;
    text-align: center;
}
.div-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 23px;
    width: 150px;
    height: 48px;
    margin-top: 25px;
    border: solid;
    border-color: #FFFFFF;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0.25s;
    
}
.div-animation-p {
    color: #FFFFFF;
}
.div-animation:hover {
    background-color: gray;
}
.parent-of-div1 {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.parent-of-div2 {
    width: 1170px;
    display: flex;
    justify-content: space-between;


}
.container2 {
    width: 1170px;
    margin: 0 auto;
}


